<!DOCTYPE html>

<html>

<head>

	<meta charset="ISO-8859-1">
	<title> MVC </title>

</head>

<body>

	<h1 align="center" style="color:blueviolet"> La Partie View : Couche MVC </h1>

	<h2 align="left" style="color:crimson"> 1-Définition : </h2>
	<h3 th:text="${Nom}"  style="color:deeppink"> </h3>

	<p> MVC (Model-View-Controller ou Modèle-Vue-Contrôleur) est un modèle dans la conception de logiciels. Il met
		l'accent sur la séparation entre la logique métier et l'affichage du logiciel. Cette «séparation des
		préoccupations» permet une meilleure répartition du travail et une maintenance améliorée..</p>

</body>


</html>